script(src="/authenticate.js")
form(id="auth-form")
  input(type="text", name="username", placeholder="Username", id="username")
  br
  input(type="password", name="password", placeholder="Password", id="password")
  br
  button(type="submit") Login / Register